<!-- wp:template-part {"slug":"header","theme":"davidbechercom"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
  <!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"metadata":{"patternName":"twentytwentyfive/template-query-loop","name":"List of posts, 1 column","description":"A list of posts, 1 column, with featured image and post date.","categories":["query"]},"align":"full","className":"query-loop-with-photosets","layout":{"type":"constrained","justifyContent":"center"}} -->
  <div class="wp-block-query alignfull query-loop-with-photosets">
    <!-- wp:post-template {"align":"full","layout":{"type":"default"}} -->
    <!-- wp:jetpack/layout-grid {"column1DesktopSpan":3,"column1TabletSpan":4,"column1MobileSpan":4,"column2DesktopSpan":9,"column2TabletSpan":4,"column2MobileSpan":4,"column3DesktopSpan":3,"column3DesktopOffset":3,"column3TabletSpan":4,"column3MobileSpan":4,"column4DesktopSpan":3,"column4TabletSpan":4,"column4MobileSpan":4,"className":"column1-desktop-grid__span-3 column1-desktop-grid__row-1 column2-desktop-grid__span-9 column2-desktop-grid__start-4 column2-desktop-grid__row-1 column1-tablet-grid__span-4 column1-tablet-grid__row-1 column2-tablet-grid__span-4 column2-tablet-grid__start-5 column2-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1 column2-mobile-grid__span-4 column2-mobile-grid__row-2"} -->
    <div
      class="wp-block-jetpack-layout-grid column1-desktop-grid__span-3 column1-desktop-grid__row-1 column2-desktop-grid__span-9 column2-desktop-grid__start-4 column2-desktop-grid__row-1 column1-tablet-grid__span-4 column1-tablet-grid__row-1 column2-tablet-grid__span-4 column2-tablet-grid__start-5 column2-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1 column2-mobile-grid__span-4 column2-mobile-grid__row-2">
      <!-- wp:jetpack/layout-grid-column -->
      <div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
        <!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"fontSize":"x-large"} /-->

        <!-- wp:post-date {"isLink":true,"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"spacing":{"margin":{"top":"var:preset|spacing|40"}}},"fontSize":"small"} /-->
        </div>
        <!-- /wp:jetpack/layout-grid-column -->

      <!-- wp:jetpack/layout-grid-column -->
      <div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
        <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2"} /-->

        <!-- wp:post-content {"align":"full","fontSize":"medium","layout":{"type":"constrained"}} /-->
        </div>
        <!-- /wp:jetpack/layout-grid-column -->
        </div>
        <!-- /wp:jetpack/layout-grid -->
    <!-- /wp:post-template -->

    <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"
      style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
      <!-- wp:query-no-results -->
      <!-- wp:paragraph -->
      <p>Sorry, but nothing was found. Please try a search with different keywords.</p>
      <!-- /wp:paragraph -->
      <!-- /wp:query-no-results -->
      </div>
      <!-- /wp:group -->

    <!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
      <!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
      <!-- wp:query-pagination-next /-->

      <!-- wp:query-pagination-numbers /-->

      <!-- wp:query-pagination-previous /-->
      <!-- /wp:query-pagination -->
      </div>
      <!-- /wp:group -->
      </div>
      <!-- /wp:query -->
      </main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"davidbechercom"} /-->